﻿@using Sitecore.Mvc

@model Sitecore.Mvc.Presentation.RenderingModel
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Food &amp; Recipes Web Template</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    @Html.Sitecore().Placeholder("main");
</body>
</html>