﻿@using Sitecore.Mvc
@model List<TrainingSolution.Feature.PageContent.Models.SectionsModel>

@if (Model != null && Model.Count > 0)
{
<ul>
    @foreach (var item in Model)
    {
        <li>
            <h2><a href="@item.Link">@item.Title</a></h2>
            <a href="@item.Link"><img src="@item.Image" alt="@item.AltText"></a>
        </li>
    }

</ul>
}
